.holiday-banner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-height: 60px;
    padding: 10px 35px;
    background-color: #f7f7f7;
    user-select: text;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;

    &:hover, &:focus {
        opacity: 0.8;
    }

    &--pink {
        color: #894f9a;
        background: radial-gradient(718.08px at 50.13% 50%, #ffcfe3 0%, #ffb2e9 100%);
    }
}

.holiday-banner span {
    max-width: 30px;
    margin: 0 6px;
}

.holiday-banner__text {
    margin: 0;
    color: inherit;
    text-align: center;
}
