// Цвет
$color-text: #111111;

// Шрифты
$font-main: "Roboto", sans-serif;

// Разрешения экрана
$mobile: 767px;
$tablet: 1024px;
$desktop: 1170px;
$big-desktop:  1599px;

// Ретина экран
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
