.character-list {
    margin-top: 30px;
}

.character-list__title {
    margin: 0;
    font-size: 20px;
    font-weight: 700;
    line-height: 32px;
    color: #111111;
}

.character-list__list {
    @include reset-list();
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-row-gap: 16px;
    margin-top: 16px;

    @media screen and (max-width: 580px) {
        grid-template-columns: repeat(4, 1fr);
    }

    @media screen and (max-width: 370px) {
        grid-template-columns: repeat(3, 1fr);
    }
}

.character-list__item {
    height: 116px;
    margin-bottom: 16px;
}

.character-list__link {
    @include hover-focus-active {
        background-color: #fcebff;
        color: #894d9a;
    }

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 20px 0;
    text-decoration: none;
    color: #b8bdc1;
    border-radius: 8px;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
}

.character-list__char {
    font-size: 44px;
    line-height: 1;
    text-align: center;
    font-weight: 700;
    color: $color-text;

    & img {
        width: auto;
        height: 44px;

        @media screen and (max-width: 1023px) {
            height: 42px;
        }
    }
}

.character-list__code {
    font-family: Roboto, sans-serif;
    font-size: 12px;
    line-height: 22px;

    &:hover, &:focus {
        color: #894d9a;
    }
}