.page-content {
    background-color: #ffffff;
    padding: 0 16px 50px;

    & a {
        @include hover-focus-active {
            color: #bd3374;
        }
    }
}

.page-content__wrapper {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}

.page-content__main {
    padding-bottom: 24px;
}

.page-content__main h1 {
    font-weight: 700;
}

.page-content__side {
    position: relative;
    height: 100%;
    overflow: hidden;
    padding: 24px 16px;
    background-color: #f7f7f7;
    transition-property: transform;

    & h2 {
        font-size: 18px;
        font-weight: 500;
        line-height: 24px;
        margin-top: 6px;
        margin-bottom: 16px;
    }
}