.main-navigation {
    flex-wrap: nowrap;
    position: relative;
    overflow: hidden;
    margin: 0;
}

.main-navigation.js-enabled {
    overflow: visible;
}

.main-navigation.js-enabled .main-navigation__item {
    flex-grow: 1;
}

.main-navigation .js-dropdown-menu-button {
    cursor: pointer;
    position: relative;
    visibility: hidden;
    pointer-events: none;
}